**Import Libraries**

In [37]:
# Load libraries
import pandas as pd
# Import Decision Tree Classifier
from sklearn.tree import DecisionTreeClassifier
# Import train_test_split function
from sklearn.model_selection import train_test_split 
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation

**Importing the dataset**

In [40]:
col_names = ['pregnant', 'glucose', 'bp', 'skin', 'insulin', 'bmi', 'pedigree', 'age', 'label']
# load dataset
pima= pd.read_csv("diabetes.csv",names=col_names)
pima.head()

      pregnant  glucose             bp  ...                  pedigree  age    label
0  Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
1            6      148             72  ...                     0.627   50        1
2            1       85             66  ...                     0.351   31        0
3            8      183             64  ...                     0.672   32        1
4            1       89             66  ...                     0.167   21        0

[5 rows x 9 columns]

In [42]:
pima1 = pima.iloc[1:]
pima.head()

      pregnant  glucose             bp  ...                  pedigree  age    label
0  Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
1            6      148             72  ...                     0.627   50        1
2            1       85             66  ...                     0.351   31        0
3            8      183             64  ...                     0.672   32        1
4            1       89             66  ...                     0.167   21        0

[5 rows x 9 columns]

In [43]:
pima1.head()

  pregnant glucose  bp skin insulin   bmi pedigree age label
1        6     148  72   35       0  33.6    0.627  50     1
2        1      85  66   29       0  26.6    0.351  31     0
3        8     183  64    0       0  23.3    0.672  32     1
4        1      89  66   23      94  28.1    0.167  21     0
5        0     137  40   35     168  43.1    2.288  33     1

**Feature Selection**

In [44]:
#split dataset in features and target variable
feature_cols=['pregnant','insulin', 'bmi', 'age','glucose','bp','pedigree']
X = pima1[feature_cols] # Features
y = pima1.label # Target variable

**Splitting the dataset into the Training set and Test set**

In [45]:
# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1) # 70% training and 30% test
X_train.shape, X_test.shape

((537, 7), (231, 7))

**Building Decision Tree Model**

In [46]:
# Create Decision Tree classifer object
clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

**Evaluating Model**

In [47]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.6883116883116883