# Data Analysis and Visualization with Python

# 1. Storing DataFrame in CSV Format :
Pandas provide to.csv('filename', index = "False|True") function to write DataFrame into a CSV file.

In [5]:
import pandas as pd

# assigning three series to s1, s2, s3
s1 = pd.Series([0, 4, 8])
s2 = pd.Series([1, 5, 9])
s3 = pd.Series([2, 6, 10])

# taking index and column values
dframe = pd.DataFrame([s1, s2, s3])

# assign column name
dframe.columns =['id', 'age', 'runs']

# write data to csv file
dframe.to_csv('test1.csv', index = False)  
dframe.to_csv('test2.csv', index = True)

# 2. Handling Missing Data
Drop the missing Data :

In [9]:
import pandas as pd
import numpy as np

# Create a DataFrame
dframe = pd.DataFrame({'id': [23, 24, 22],
					'age': [10, 12, np.nan],
					'runs': [0, np.nan, np.nan]},
					columns =['id', 'age', 'runs'])

# This will remove all the
# rows with NAN values

# If axis is not defined then
# it is along rows i.e. axis = 0
dframe.dropna(inplace = True)
print(dframe)

# if axis is equal to 1
dframe.dropna(axis = 1, inplace = True)

print(dframe)

   id   age  runs
0  23  10.0   0.0
   id   age  runs
0  23  10.0   0.0

Fill the missing values :
To replace any NaN value with mean or mode of the data, fillna is used, which could replace all the NaN values from a particular column or even in whole DataFrame as per the requirement.

In [10]:
import numpy as np
import pandas as pd

# Create a DataFrame
dframe = pd.DataFrame({'id': [23, 24, 22],
						'age': [10, 12, np.nan],
						'runs': [0, np.nan, np.nan]},
						columns = ['id', 'age', 'runs'])

# Use fillna of complete Dataframe

# value function will be applied on every column
dframe.fillna(value = dframe.mean(), inplace = True)
print(dframe)

# filling value of one column
dframe['age'].fillna(value = dframe['age'].mean(),
									inplace = True)
print(dframe)

   id   age  runs
0  23  10.0   0.0
1  24  12.0   0.0
2  22  11.0   0.0
   id   age  runs
0  23  10.0   0.0
1  24  12.0   0.0
2  22  11.0   0.0

# 3. Groupby Method (Aggregation) :

The groupby method allows us to group together the data based off any row or column, thus we can further apply the aggregate functions to analyze our data. Group series using mapper (dict or key function, apply given function to group, return result as series) or by a series of columns.

In [11]:
import pandas as pd
import numpy as np

# create DataFrame
dframe = pd.DataFrame({'id': [23, 24, 22, 22, 23, 24],
						'age': [10, 12, 13, 14, 15, 16],
						'runs': [122, 142, 112, 122, 114, 112]},
						columns = ['id', 'age', 'runs'])

# Apply groupby and aggregate function
# max to find max value of column

# &quot;For&quot; and column &quot;geeks&quot; for every
# different value of column &quot;Geeks&quot;.

print(dframe.groupby(['runs']).max())

      id  age
runs
112   24   16
114   23   15
122   23   14
142   24   12